{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}
{% block title %}Добавление новой книги{% endblock title %}

{% block body %}
    {% include "top_menu_book.html" %}
    <div class="container marketing">
        <div class="col-md-8 order-md-1">
            <br>
            <h4 class="mb-3" id="create-book">Добавление новой книги</h4>
            <form class="needs-validation" novalidate action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-success" value="Добавить">
            </form>
        </div>
    </div> 
{% endblock body %}   
