{% extends 'base.html' %}

{% block title %}Информация по книге {{ object }}{% endblock title %}

{% block body %}
    {% include "top_menu_book.html" %}
    <!-- START THE FEATURETTES -->
    <div class="container marketing">
        <br>
        <h4 class="mb-3">Информация по книге {{ object }}</h4>
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                {% for author in object.author.all %}
                    <h2 class="featurette-heading">{{ author.name }}</h2>
                {% endfor %}
                <p class="lead">{{ object.description }}</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ object.photo.url }}" alt="Изображение книги" height="500px" width="430px">
            </div>
        </div>
        <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
{% endblock body %}