{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}
{% block title %}Список Книг{% endblock title %}

{% block body %}
{% if perms.bookapp.view_book %}
    {% include "top_menu_admin.html" %}
    {% include "messages.html" %}
    <br>
    <h2 id="list-book">Список книг</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Название книги</th>
                    <th>Фото</th>
                    <th>Цена</th>
                    <th>Автор</th>
                    <th>Кол-во</th>
                    <th>Доступен для заказа</th>
                    <th>Рейтинг</th>
                    <th><i class="fas fa-info-circle"></i></th>
                    <th><i class="fas fa-user-edit"></i></th>
                    <th><i class="fas fa-user-minus"></i></th>
                </tr>
            </thead>
            <tbody>
                {% for book in book_list %}
                    <tr>
                        <td>{{ book.name }}</td>
                        <td><img src="{{ book.photo.url }}" alt="Изображение книги" height="120px" width="80px"></td>
                        <td>{{ book.price }}</td>
                        <td>
                            {% for author in book.author.all %}
                                {{ author.name }}
                            {% endfor %}
                        </td>
                        <td>{{ book.quantity }}</td>
                        <td>{% if book.active == True %}Да{% elif book.active == False %}Нет{% endif %}</td>
                        <td>{{ book.rating }}</td>
                        <td><a href="{% url 'book:detail' book.pk %}" title="подробнее">Подробнее</a></td>
                        <td><a href="{% url 'book:update' book.pk %}" title="редактировать"><i style="color:#696969" class="fas fa-edit"></i></a></td>
                        <td><a href="{% url 'book:delete' book.pk %}" title="удалить"><i style="color:#696969" class="fas fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        {% include "pagination.html" %}
    </div>
{% else %}
     <div class="col-md-8 order-md-1">
        <br>
        <h4 class="mb-3">Страница не существует</h4>
        <div class="i-popup__line">
        <a id="loginFormRegisterLink" href="{% url 'main' %}" data-button-state="second">Вернуться на главную</a>
        </div>
    </div>
{% endif %}
{% endblock body %}   