{% extends 'base.html' %}

{% block title %}Создание нового жанра{% endblock title %}

{% block body %}
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3" id="#delete-genre">Удаление жанра</h4>
        <form method="post">{% csrf_token %}
            <div class="alert alert-danger" role="alert">
                Вы уверены, что хотите удалить жанр - {{ genre }}"?
            </div>
            <input type="submit" value="Подтвердить" class="btn btn-danger">
        </form>
    </div>
{% endblock body %}   