{% extends 'base.html' %}

{% block title %}Список Жанров{% endblock title %}

{% block body %}
    {% include "top_menu_genre.html" %}
    <br>
    <div class="container marketing">
        <h2 id="list-genre">Список жанров</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                    <th>id</th>
                    <th>Имя жанра</th>
                    <th>Описание</th>
                    <th><i class="fas fa-info-circle"></i></th>
                    <th><i class="fas fa-user-edit"></i></th>
                    <th><i class="fas fa-user-minus"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for genre in genre_list %}
                        <tr>
                            <td>{{ genre.pk }}</td>
                            <td>{{ genre.name }}</td>
                            <td>{{ genre.description }}</td>
                            <td><a href="{% url 'genre:detail' genre.pk %}" title="подробнее">Подробнее</a></td>
                            <td><a href="{% url 'genre:update' genre.pk %}" title="редактировать"><i style="color:#696969" class="fas fa-edit"></i></a></td>
                            <td><a href="{% url 'genre:delete' genre.pk %}" title="удалить"><i style="color:#696969" class="fas fa-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}   