{% extends 'base_admin.html' %}

{% block title %}Список Жанров{% endblock title %}

{% block body %}
    {% include "top_menu_admin.html" %}
    <br>
    <h2 id="list-genre">Список жанров</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Имя жанра</th>
                    <th><i class="fas fa-info-circle"></i></th>
                    <th><i class="fas fa-user-edit"></i></th>
                    <th><i class="fas fa-user-minus"></i></th>
                </tr>
            </thead>
            <tbody>
                {% for genre in genre_list %}
                    <tr>
                        <td>{{ genre.pk }}</td>
                        <td>{{ genre.name }}</td>
                        <td><a href="{% url 'genre:detail' genre.pk %}" title="подробнее">Подробнее</a></td>
                        <td><a href="{% url 'genre:update' genre.pk %}" title="редактировать"><i style="color:#696969" class="fas fa-edit"></i></a></td>
                        <td><a href="{% url 'genre:delete' genre.pk %}" title="удалить"><i style="color:#696969" class="fas fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
        <br>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        <br>
    </div>
{% endblock body %}   