<div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="sidebar-sticky pt-3">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="home"></span>Таблица заказов<span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="file"></span>Заказы
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Книги</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    <a class="dropdown-item" href="{% url 'book:list' %}">Список книг</a>
                                    <a class="dropdown-item" href="{% url 'book:create' %}"><i class="fas fa-plus-circle"></i> книги</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Пользователи</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    <a class="dropdown-item" href="{% url 'customer:list' %}">Список пользователей</a>
                                    <a class="dropdown-item" href="{% url 'customer:create' %}"><i class="fas fa-plus-circle"></i> пользователя</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Авторы</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    <a class="dropdown-item" href="{% url 'author:list' %}">Список авторов</a>
                                    <a class="dropdown-item" href="{% url 'author:create' %}"><i class="fas fa-plus-circle"></i> автора</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Жанры</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    <a class="dropdown-item" href="{% url 'genre:list' %}">Список жанров</a>
                                    <a class="dropdown-item" href="{% url 'genre:create' %}"><i class="fas fa-plus-circle"></i> жанра</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Издательства</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    <a class="dropdown-item" href="{% url 'publisher:list' %}">Список издательств</a>
                                    <a class="dropdown-item" href="{% url 'publisher:create' %}"><i class="fas fa-plus-circle"></i> издательства</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Серии</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    <a class="dropdown-item" href="{% url 'series:list' %}">Список серий</a>
                                    <a class="dropdown-item" href="{% url 'series:create' %}"><i class="fas fa-plus-circle"></i> серии</a>
                                </div>
                            </li>
                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Переход к административному порталу</span>
                            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                                <span data-feather="plus-circle"></span>
                            </a>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/">
                                    <span data-feather="file-text"></span>Переход к БД
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'main' %}">
                                    <span data-feather="file-text"></span>Домашняя страница
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
             </div>
        </div>