{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Комментировать заказ{% endblock title %}

{% block body %}
    {% include "top_menu_main_book.html" %}
    <div class="container marketing">        <br>
        <h4 class="mb-3" id="create-book">Комментировать заказ {{ objects }}</h4>
        <form class="needs-validation" novalidate action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <a href="{% url 'order:create_comment' %}?order_pk={{ order.pk }}"><button type="submit" class="btn btn-success">Оставить комментарий</button></a>
        </form>
        <br>
    </div>
{% endblock body %}   
