{% extends 'base.html' %}
{% load app_tags %}
{% load crispy_forms_tags %}
{% block title %}Заказ {{user}}{% endblock title %}

{% block body %}
    {% include "top_menu_main_book.html" %}
    {% include "messages.html" %}
    <!-- START THE FEATURETTES -->
    <div class="container marketing">
        <br>
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Детали заказа </span>
            <span class="badge badge-secondary badge-pill">{{ cart|length }}</span>
        </h4>
        <!-- Parametres-->
        <div class="b-description__sub">
            <tr class="b-description__more">
                <td colspan="2">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Детали заказа № {{ object.pk }}
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <table>
                                        <tbody>
                                            <tr class="">
                                                <td>Логин</td>
                                                <td>{{ object.user.username }}</td>
                                            </tr>
                                            {% if object.user.first_name %}
                                            <tr class="">
                                                <td>Имя</td>
                                                <td>{{ object.user.first_name }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if object.user.last_name %}
                                                <tr class="">
                                                    <td>Фамилия</td>
                                                    <td>{{ object.user.last_name }}</td>
                                                </tr>
                                            {% endif %}
                                            <tr class="">
                                                <td>E-mail</td>
                                                <td>
                                                    <a href="#" title="Отправить письмо пользователю &laquo;{{ object }}&raquo;">{{ object.user.email }}</a>
                                                </td>
                                            </tr>
                                            {% if object.code_phone %}
                                                {% if object.phone %}
                                                    <tr class="">
                                                        <td>Телефон</td>
                                                            <td>({{ object.code_phone }}){{ object.phone }}</td>
                                                        </tr>
                                                {% endif %}
                                            {% endif %}
                                            {% if object.country %}
                                                <tr class="">
                                                    <td>Страна</td>
                                                    <td>{{ object.country }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if object.city %}
                                                <tr class="">
                                                    <td>Город</td>
                                                    <td>{{ object.city }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if object.index %}
                                                <tr class="">
                                                    <td>Почтовый индекс</td>
                                                    <td>{{ object.index }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if object.address %}
                                                <tr class="">
                                                    <td>Адрес 1</td>
                                                    <td>{{ object.address }}</td>
                                                </tr>
                                            {% endif %}
                                            <tr class="">
                                                    <td>Статус заказа</td>
                                                    <td>{{ object.status }}</td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
            {% if user.is_anonymous %}
            {% else %}
                <div class="b-description__sub">
                    <tr class="b-description__more">
                        <td colspan="2">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <ul class="list-group mb-3">
                                            {% for obj in cart %}
                                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                                    <div>
                                                        <h6 class="my-0">{{ obj.book.name }}</h6>
                                                        <h6>{% for author in obj.book.author.all %}
                                                            <small class="text-muted">{{ author.name }}{% if obj.book.author.all|length > 1 %};{% endif %}</small>
                                                            {% endfor %}</h6>
                                                            <small class="text-muted">{{ obj.quantity }} х {{ obj.book.price }} руб.</small>
                                                    </div>
                                                    <span class="text-muted">{% multiply obj.quantity obj.book.price %}</span>
                                                </li>
                                                {% endfor %}
                                                <li class="list-group-item d-flex justify-content-between">
                                                    <span>Сумма (бел.руб)</span>
                                                    <strong> {% sum_filter %}</strong>
                                                </li>
                                            </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% if object.status == 'Отменен' %}
                    {% else %}
                    <tr class="b-description__more">
                        <td colspan="2">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <a href="{% url 'order:delete' object.pk %}"><button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Отменить заказ № {{ object.pk }}
                                            </button></a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                </div>
        {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
        </div>
</div>
{% endblock body %}