{% extends 'base.html' %}
{% load app_tags %}
{% load crispy_forms_tags %}
{% block title %}Заказ {{user}}{% endblock title %}

{% block body %}
    {% include "top_menu_main_book.html" %}
    <div class="container">
        <br>
        <div class="row">
            {% for obj in object_list %}
                <div class="col-md-4">
                    <h2>Заказ № {{ obj.pk }}</h2>
                    <p>Статус: {{ obj.status }}</p>
                    <p>{{ obj.created }}</p>
                    <p>Сумма: {{ obj.price }}</p>
                    <p><a class="btn btn-secondary" href="{% url 'order:detail' obj.pk %}" role="button">Детали &raquo;</a></p>
                </div>
            {% endfor %} 
        </div>
    </div> <!-- /container -->
{% endblock body %}