{% extends 'base.html' %}

{% block title %}Информация по магазину {{ object }}{% endblock title %}

{% block body %}
    {% include "top_menu_main_book.html" %}
    <!-- START THE FEATURETTES -->
    <div class="container marketing">
    {% include "messages.html" %}
        <br>
        <h4 class="mb-3">Информация по магазину {{ object }}</h4>
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">{{ object.name }}<span class="text-muted"> {% if object.year %}{{ object.year }}{% endif %}</span></h2>
                <p class="lead">{% if object.description %}{{ object.description }}{% endif %}</p>
            </div>
            <div class="col-md-5 order-md-1">
                {% if object.image %}<img src="{{ object.image.url }}" alt="Логотип" height="400px" width="400px">{% endif %}
            </div>
        </div>
    </div><!-- /.container -->
{% endblock body %}