{% extends 'base.html' %}

{% block title %}Информация по издательству {{ object }}{% endblock title %}

{% block body %}
    {% include "top_menu_publisher.html" %}
    <!-- START THE FEATURETTES -->
    <div class="container marketing">
        <br>
        <h4 class="mb-3">Информация по издательству {{ object }}</h4>
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">{{ object.name }}</h2>
                <p class="lead">{{ object.description }}</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ object.image.url }}" alt="Изображение издательства" height="400px" width="400px">
            </div>
        </div>
    <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
{% endblock body %}