{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}
{% block title %}Импорт каталога издательств{% endblock title %}

{% block body %}
{% if perms.publisher.change_import_publisher %}
    {% include "top_menu_admin.html" %}
    <div class="col-md-8 order-md-1">
        <br>
        <h4 class="mb-3" id="create-book">Импорт каталога издательств</h4>
        <form class="needs-validation" novalidate action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success" value="Добавить">
        </form>
        <br>
    </div>
{% else %}
     <div class="col-md-8 order-md-1">
        <br>
        <h4 class="mb-3">Страница не существует</h4>
        <div class="i-popup__line">
        <a id="loginFormRegisterLink" href="{% url 'main' %}" data-button-state="second">Вернуться на главную</a>
        </div>
    </div>
{% endif %}
{% endblock body %}   
