<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    
    <title>Document</title>
    {% endblock %}
</head>
    <body>
            {% block h1 %}
                <h1 align="center"><i>Hello World!</i></h1>
            {% endblock%}
            <!--
            {{genre2.0}}<br>
            {{books}}<br>
            My genre is {{genre.pk}}, name is {{genre.name}}, decriptions is {{genre.description}}<br>
            {% now "SHORT_DATETIME_FORMAT" %}<br>-->
            
            <div id="Rate">
            <h3><i>{{ time|date:"D d M Y" }}</i></h3>
            <h3>Курсы валют:</h3>
            {% for key, value in rate.items %}
                Курс {{key}} - {{value|floatformat:3}}<br>
            {% endfor %}
            </div>
            <ul>
                {% for element in some_value %}
                    <li>The element is - {{ element }}</li>
                {% endfor %}
            </ul>
            <p>Сегодня счастливое число - {{happy_number}}</p>
        </body>

</html>

