{% extends 'base_admin.html' %}
{% block title %}Удаление автора {{ author }}{% endblock title %}

{% block body %}
    {% include "top_menu_admin.html" %}
    <div class="col-md-8 order-md-1">
        <br>
        <h4 class="mb-3" id="#delete-author">Удаление автора {{ author }}</h4>
        <form method="post">{% csrf_token %}
            <div class="alert alert-danger" role="alert">
                Вы уверены, что хотите удалить автора - {{ author }}"?
            </div>
            <input type="submit" value="Подтвердить" class="btn btn-danger">
        </form>
    </div>
{% endblock body %}   