{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}
{% block title %}Добавление нового пользователя{% endblock title %}

{% block body %}
    {% include "top_menu_admin.html" %}
    <div class="col-md-8 order-md-1">
        <br>
        <h4 class="mb-3">Добавление нового пользователя</h4>
        <form class="needs-validation" novalidate action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success" value="Добавить">
        </form>
        <br>
    </div>
{% endblock body %}
