{% extends 'base_admin.html' %}
{% block title %}Удаление пользователя {{ object }}{% endblock title %}

{% block body %}
    {% if user.is_staff or user.is_superuser %}
        {% include "top_menu_admin.html" %}
    {% endif %}
        <div class="col-md-8 order-md-1">
        <br>
        <h4 class="mb-3">Удаление пользователя - {{ object }}</h4>
            <div class="alert alert-danger" role="alert">
                Вы уверены, что хотите удалить пользователя - {{ object }}"?
            </div>
            <a href="{% url 'customer:done' object.user.pk %}" class="btn btn-danger" role="button" aria-pressed="true">Подтвердить</a>
    </div>
{% endblock body %}   