{% extends 'base.html' %}
{% load app_tags %}
{% block title %}Информация по пользователю {{ object }}{% endblock title %}

{% block body %}
    {% include "top_menu_main_book.html" %}
    <!-- START THE FEATURETTES -->
    <div class="container marketing">
        {% include "messages.html" %}
        <br>
        <h4 class="mb-3">Информация по пользователю {{ object }}</h4>
        <!-- Parametres-->
        <div class="b-description__sub">
            <tr class="b-description__more">
                <td colspan="2">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Данные пользователя {{ object }}
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <table>
                                        <tbody>
                                            <tr class="">
                                                <td>Логин</td>
                                                <td>{{ object.user.username }}</td>
                                            </tr>
                                            {% if object.user.first_name %}
                                            <tr class="">
                                                <td>Имя</td>
                                                <td>{{ object.user.first_name }}</td>
                                            </tr>
                                            {% endif %}
                                            {% if object.user.last_name %}
                                                <tr class="">
                                                    <td>Фамилия</td>
                                                    <td>{{ object.user.last_name }}</td>
                                                </tr>
                                            {% endif %}
                                            <tr class="">
                                                <td>E-mail</td>
                                                <td>
                                                    <a href="#" title="Отправить письмо пользователю &laquo;{{ object }}&raquo;">{{ object.user.email }}</a>
                                                </td>
                                            </tr>
                                            {% if object.code_phone %}
                                                {% if object.phone %}
                                                    <tr class="">
                                                        <td>Телефон</td>
                                                            <td>({{ object.code_phone }}){{ object.phone }}</td>
                                                        </tr>
                                                {% endif %}
                                            {% endif %}
                                            {% if object.country %}
                                                <tr class="">
                                                    <td>Страна</td>
                                                    <td>{{ object.country }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if object.city %}
                                                <tr class="">
                                                    <td>Город</td>
                                                    <td>{{ object.city }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if object.index %}
                                                <tr class="">
                                                    <td>Почтовый индекс</td>
                                                    <td>{{ object.index }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if object.address_1 %}
                                                <tr class="">
                                                    <td>Адрес 1</td>
                                                    <td>{{ object.address_1 }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if object.address_2 %}
                                                <tr class="">
                                                    <td>Адрес 2</td>
                                                    <td>{{ object.address_2 }}</td>
                                                </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
            {% if user.is_anonymous %}
            {% else %}
                <div class="b-description__sub">
                    <tr class="b-description__more">
                        <td colspan="2">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                        {% if user.is_superuser or user.is_staff %}
                                            <a href="{% url 'customer:updatemainadmin' object.pk %}"><button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Редактировать основные данные пользователя {{ object }}
                                            </button></a>
                                        {% else %}
                                            <a href="{% url 'customer:updatemainuser' object.pk %}"><button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Редактировать основные данные пользователя {{ object }}
                                            </button></a>
                                        {% endif %}
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="b-description__more">
                        <td colspan="2">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <a href="{% url 'customer:update' object.pk %}"><button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Редактировать дополнительные данные пользователя {{ object }}
                                            </button></a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% if user.is_staff or user.is_superuser %}
                    {% else %}
                        <tr class="b-description__more">
                            <td colspan="2">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                                <a href="{% url 'order:list' %}"><button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    История заказов
                                                </button></a>
                                                </h2>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    {% if user.is_staff or user.is_superuser %}
                    {% else %}
                        <tr class="b-description__more">
                            <td colspan="2">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                                <a href="{% url 'customer:change_password_view' %}"><button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Смена пароля
                                                </button></a>
                                                </h2>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    <tr class="b-description__more">
                        <td colspan="2">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <a href="{% url 'customer:delete' object.pk %}"><button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Удалить профиль {{ object }}
                                            </button></a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </div>
        {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
        </div>
    <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
{% endblock body %}