{% extends 'base.html' %}

{% block title %}Информация по пользователю {{ object }}{% endblock title %}

{% block body %}
    {% include "top_menu_main_book.html" %}
    <!-- START THE FEATURETTES -->
    <div class="container marketing">
        <br>
        <h4 class="mb-3">Информация по пользователю {{ object }}</h4>
        <!-- Parametres-->
        <div class="b-description__sub">
            <tr class="b-description__more">
                <td colspan="2">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Данные пользователя {{ object }}
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <table>
                                        <tbody>
                                            <tr class="">
                                                <td>Логин</td>
                                                <td>{{ object.log }}</td>
                                            </tr>
                                            <tr class="">
                                                <td>E-mail</td>
                                                <td>
                                                    <a href="#" title="Отправить письмо пользователю &laquo;{{ object }}&raquo;">{{ object.mail }}</a>
                                                </td>
                                            </tr>
                                            <tr class="">
                                                <td>Имя</td>
                                                <td>{{ object.first_name }}</td>
                                            </tr>
                                            {% if object.last_name %}
                                                <tr class="">
                                                    <td>Фамилия</td>
                                                    <td>{{ object.last_name }}</td>
                                                </tr>
                                            {% endif %}
                                            <tr class="">
                                                <td>Телефон</td>
                                                <td>{{ object.phone }}</td>
                                            </tr>
                                            {% if object.country %}
                                                <tr class="">
                                                    <td>Страна</td>
                                                    <td>{{ object.country }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if object.city %}
                                                <tr class="">
                                                    <td>Город</td>
                                                    <td>{{ object.city }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if object.index %}
                                                <tr class="">
                                                    <td>Почтовый индекс</td>
                                                    <td>{{ object.index }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if object.address_1 %}
                                                <tr class="">
                                                    <td>Адрес 1</td>
                                                    <td>{{ object.address_1 }}</td>
                                                </tr>
                                            {% endif %}
                                            {% if object.address_2 %}
                                                <tr class="">
                                                    <td>Адрес 2</td>
                                                    <td>{{ object.address_2 }}</td>
                                                </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </div>
    <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
{% endblock body %}