{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}
{% block title %}Редактирование пользователя {{ object }}{% endblock title %}

{% block body %}
    {% if user.is_staff or user.is_superuser %}
        {% include "top_menu_admin.html" %}
    {% endif %}
        <div class="col-md-8 order-md-1">
        <br>
        <h4 class="mb-3">Редактирование дополнительных параметров пользователя {{ object }}</h4>
        <form class="needs-validation" novalidate action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                {{ form|crispy }}
                <div class="b-description__sub">
            <tr class="b-description__more">
                <td colspan="2">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                {% if user.is_staff or user.is_superuser %}
                                    <a href="{% url 'customer:updatemainadmin' object.user.pk %}"><button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Редактировать основные данные пользователя {{ object }}
                                    </button></a>
                                {% else %}
                                    <a href="{% url 'customer:updatemainuser' user.pk %}"><button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Редактировать основные данные пользователя {{ object }}
                                    </button></a>
                                {% endif %}
                                </h2>
                            </div>
                    </div>
                </td>
            </tr>
            <tr class="b-description__more">
                <td colspan="2">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                {% if user.is_superuser or user.is_staff %}
                                <a href="{% url 'customer:list' %}"><button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Вернуться к списку пользователей
                                    </button></a>
                                {% else %}
                                    <a href="{% url 'customer:detail' user.customer.pk %}"><button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Вернуться к профилю {{ object }}
                                    </button></a>
                                {% endif %}
                                </h2>
                            </div>
                    </div>
                </td>
            </tr>
        </div>
            </div>
            <input type="submit" value="Обновить" class="btn btn-info">
        </form>
        <br>
    </div>
{% endblock body %}
